<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div  th:fragment="footer" class=" fixed-bottom">
        <hr class="border-dark">
        <footer class="text-dark text-center py-3 mt-4">
            <div class="container">
                <p class="mb-0 ">©ThomasMore</p>
            </div>
        </footer></div>

    <div  th:fragment="footerlight" class=" fixed-bottom bg-light">
        <hr class="border-light">
        <footer class="text-dark text-center py-3 mt-4">
            <div class="container">
                <p class="mb-0 ">©ThomasMore</p>
            </div>
        </footer></div>

</body>
</html>