.home{
    background-color: black; /* achterground */
    color: #deb00a; /*Text*/
}
body {
    padding-bottom: 70px;

        padding-top: 90px;


}

.navbar{
    background-color: #433232;
    color: #c89d02; /*Text*/
    position: fixed;
    top: 0;

}

.name{
    font-size: 100px;
}
.overlay {
    position: relative;
    width: 100%;
    height: 100vh; /* Ekranı tamamen kaplasın */
    overflow: hidden;
}
.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* orantıyı koruyarak kaplasın */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* arka planda kalacak */
}
.title {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    font-weight: 800;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    z-index: 1; /* resmin üstünde */
}
.egg-wrapper {
    width: 300px;
    height: 360px;
    border-radius: 50% / 60%;
    overflow: hidden;
}

.egg-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Küçük resim için */
.egg-wrapper.small-image {
    width: 120px;       /* konteynerin genişliği */
    height: 90px;       /* istediğin yüksekliği */
    overflow: hidden;   /* taşan kısmı gizle */
    border-radius: 8px; /* isteğe bağlı köşe yuvarlama */
    flex-shrink: 0;     /* flex içinde küçülmesini engelle */
}

.egg-wrapper.small-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* cover yerine contain kullanıyoruz */
    display: block;
}




/*.text{*/
/*    color: #c89d02;*/
/*}*/