.home{
    background-color: black; /* achterground */
    color: #deb00a; /*Text*/
}
.navbar{
    background-color: #433232;
    color: #c89d02; /*Text*/
}
.aboutme{
    background-color: #3ff3ef; /* achterground */
    color: #090807; /*Text*/
}
.datum1{
    border: 4px solid #dc3545;
    background-color: #3a3ac8;
}
.datum2{
    border: 4px solid #eda553;
    background-color: #3ff3ef;
}
.name{
    font-size: 100px;
}

/*.text{*/
/*    color: #c89d02;*/
/*}*/