<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's party!</title>
    <!-- CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!--<header>-->
<div th:replace="~{fragments/header :: navbar}"/>
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">-->
<!--        <div class="container-fluid">-->

<!--            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"-->
<!--                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--                <div class="navbar-nav p-3">-->
<!--                    <a class="navbar-brand text-warning " th:href="@{home}">Lets Party!</a>-->
<!--                    <a class="nav-link text-white " th:href="@{home}">Home</a>-->
<!--                    <a class="nav-link  text-white active" th:href="@{venuedetails}">zaaldetails</a>-->
<!--                    <a class="nav-link text-white active" th:href="@{about}">About</a>-->
<!--                    <a class="nav-link text-white active" th:href="@{venuelist}">VenueList</a>-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->
<main class="m-5" th:object="${venue}" th:if="${venue}">

    <div>
        <h1 class="text-center name" th:text="*{venueName}"></h1>
    </div>

    <h3 class=" venueName d-flex justify-content-center align-items-center p-3 " th:text="*{city}"></h3>

    <div class="me -4 d-flex ">
        <p class="mb-0 me-2">Zie</p>
        <a th:href="*{linkMoreInfo}" target="_blank" th:text="*{linkMoreInfo}"></a>
    </div>

    <div class="container mt-4 ">
        <div class="row align-items-start ">
            <!-- Sol taraf: büyük resim -->
            <div class="col-md-6">
                <img th:src="${venue.imageUrl}"
                     alt="Venue image"
                     class="img-fluid rounded "
                     style="width: 100%; max-width: 500px;">
            </div>

            <!-- Sağ taraf: link ve sütunlar -->
            <div class="col-md-6">


                <h4 class="mt-2">faciliteiten:</h4>
                <div class="row">
                    <!-- 1. sütun -->
                    <div class="col-6">
                        <div class="mb-2 p-1 be-white text-dark text-center border rounded">
                            <p th:text="|max *{capacity} personen|"></p>
                        </div>
                        <div class="mb-2 p-1 be-white text-dark text-center border rounded" th:if="*{foodProvided}"
                             th:text="'eten is voorzien'">
                            <!--<p class="m-2" th:text="|eten voorzien: *{foodProvided ? 'ja' : 'nee'}|"></p>-->
                        </div>
                    </div>
                </div>

                <!-- 2. sütun -->
                <div class="col-6">
                    <div class="mb-2 p-1 be-white text-dark text-center border rounded">
                        <p class="m-2" th:text="|*{distanceFromPublicTransportInKm}km van openbaar vervoer|"></p>
                    </div>
                    <div class="mb-2 p-1 be-white text-dark text-center border rounded">
                        <p class="m-2" th:if="*{indoor} and *{outdoor}" th:text="'binnen && buiten'"></p>
                        <p class="m-2" th:if="*{indoor} and !*{outdoor}" th:text="'binnen'"></p>
                        <p class="m-2" th:if="!*{indoor} and *{outdoor}" th:text="'buiten'"></p>
                        <!--                            <p class="m-2" th:text="|binnen: *{indoor ? 'ja' : 'nee'}|"></p>-->
                        <!--<p class="m-2" th:if="*{outdoor}" th:text="'binnen"></p>-->
                        <!--<p class="m-2" th:text="|buiten: *{outdoor ? 'ja':'nee'}|"></p>-->
                        <!--<p class="m-2" th:text="|buiten: *{outdoor ? 'ja':'nee'}|"></p>-->
                    </div>
                    <div class="mb-2 p-1 be-white text-dark text-center border rounded" th:if="*{freeParkingAvailable}"
                         th:text="'gratis parking'">
                        <!--  <p class="m-2" th:text="|gratis parking: *{freeParkingAvailable ? 'ja':'nee'}|"></p> -->
                        <!-- <p class="m-2" th:if="*{freeParkingAvailable}" th:text="'gratis parking'"></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<main class="m-5" th:object="${venue}" th:unless="${venue}"><p>Geen Geldige zaal gekozen.</p></main>



<!--    Footer-->

<!--    <footer class="text-dark text-center py-3 mt-4">-->
<!--        <div class="container">-->
<!--            <p class="mb-0 ">©ThomasMore</p>-->
<!--        </div>-->
<!--    </footer>-->

<div th:insert=" ~{fragments/footer :: footer}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>